
<main>
    <section class="section-padding" id="section_3">
      <div class="container">
        <div class="row">
  
            <div class="mb-2" style="--bs-breadcrumb-divider: '>';">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/homepage']"> Início</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/sobre-nos']"> Sistemas</a></li> 
                </ol>
            </div>

          <div class="col-lg-12 col-12 text-center mb-4">
            <h2>Sistemas</h2>
          </div>
  
          <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
            <div class="custom-block-wrap">
              <img src="assets/images/analise-dados.jpg" class="custom-block-image img-fluid"
                alt="Sistema de Gestão de Dados e Análises">
              <div class="custom-block">
                <div class="custom-block-body">
                  <h5 class="mb-2">Sistema de Gestão de Dados e Análises</h5>
                  <p>
                    Uma solução para coletar, armazenar e analisar grandes volumes de dados. Inclui
                    dashboards personalizáveis, ferramentas de visualização de dados e relatórios
                    automatizados.
                  </p>
                </div>
                <a href="sgda.html" class="custom-btn btn">Agende uma apresentação</a>
              </div>
            </div>
          </div>
  
          <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
            <div class="custom-block-wrap">
              <img src="assets/images/gestao-projetos.jpg" class="custom-block-image img-fluid"
                alt="Sistema de Gestão de Projetos">
  
              <div class="custom-block">
                <div class="custom-block-body">
                  <h5 class="mb-2">Sistema de Gestão de Projetos</h5>
                  <p>Um software completo para planejamento, execução e monitoramento de projetos.
                    Permite colaboração em tempo real, gestão de tarefas, cronogramas, alocação de
                    recursos e relatórios de desempenho.
                  </p>
                </div>
                <a href="sgp.html" class="custom-btn btn">Agende uma apresentação</a>
              </div>
            </div>
          </div>
  
          <div class="col-lg-4 col-md-6 col-12">
            <div class="custom-block-wrap">
              <img src="assets/images/atendimento-cliente.jpg" class="custom-block-image img-fluid"
                alt="Plataforma de Atendimento ao Cliente">
  
              <div class="custom-block">
                <div class="custom-block-body">
                  <h5 class="mb-2">Plataforma de Atendimento ao Cliente</h5>
                  <p>
                    Um sistema integrado que centraliza o atendimento ao cliente, incluindo
                    chatbots, suporte via e-mail e gerenciamento de tickets. Oferece relatórios
                    analíticos para melhorar a experiência do usuário.
                  </p>
                </div>
                <a href="pac.html" class="custom-btn btn">Agende uma apresentação</a>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </section> 
  </main>

  <br>