<section class="section-padding section-bg" id="section_2">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12 mb-5 mb-lg-0">
        <img src="assets/images/inovation4.jpg" class="image-apresentacao img-fluid" alt="">
      </div>

      <div class="col-lg-6 col-12">
        <div class="custom-text-box mb-5">
          <h4 class="mb-2">A <b>InovaHub</b> é mais do que uma plataforma,</h4>
          <p class="mb-0">
            é um parceiro estratégico comprometido com o sucesso de seus clientes.
            Com mais de 25 anos de experiência, oferecemos soluções inovadoras sempre com foco em
            qualidade, ética e transparência. Cada projeto é tratado com
            responsabilidade e dedicação, porque acreditamos que o impacto positivo vai além dos
            números — ele transforma realidades.
          </p>
        </div>

        <div class="row">
          <div class="col-md-6 col-12">
            <div class="custom-text-box">
              <h4 class="mb-3">Nosso Papel</h4>
              <p>Na <b>InovaHub</b>, confiança é o nosso alicerce, e
                crescemos junto com quem confia em nós. Nossa missão é simplificar processos e
                potencializar resultados, sempre ao lado de quem busca evolução constante.
              </p>
            </div>
          </div>

          <div class="col-md-6 col-12">
            <div class="custom-text-box">
              <h4 class="mb-3">Nossos Valores</h4>
              <ul class="custom-list mt-2">
                <li class="custom-list-item d-flex">
                  <i class="fa-solid fa-check custom-text-box-icon me-2"></i>
                  Valorização das pessoas
                </li>
                <li class="custom-list-item d-flex">
                  <i class="fa-solid fa-check custom-text-box-icon me-2"></i>
                  Foco no Cliente
                </li>
                <li class="custom-list-item d-flex">
                  <i class="fa-solid fa-check custom-text-box-icon me-2"></i>
                  Ética
                </li>
                <li class="custom-list-item d-flex">
                  <i class="fa-solid fa-check custom-text-box-icon me-2"></i>
                  Inovação Contínua
                </li>
                <li class="custom-list-item d-flex">
                  <i class="fa-solid fa-check custom-text-box-icon me-2"></i>
                  Sustentabilidade
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-section section-padding">
  <div class="container">
    <div class="row">

      <div class="col-lg-6 col-md-5 col-12">
        <video width="635" height="350" class="rounded-video" controls>
          <source src="assets/images/Conheça a InovaHub.mp4" type="video/mp4">
          Seu navegador não suporta o elemento de vídeo.
        </video>
      </div>

      <div class="col-lg-5 col-md-7 col-12">
        <div class="custom-text-block">
          <h4 class="text-white">Soluções em Software inteligentes e interativos</h4>

          <p class="text-white">
            O desafio de realizar um processo de mudança na vida das pessoas é o que nos motiva a
            pensar, diariamente, em novas tecnologias. Estamos sempre em busca de algo e este é um
            sentimento de compromisso com a sociedade e com a verdadeira mudança.
            Ao focarmos nas suas necessidades, conseguimos otimizar e simplificar nossos processos e soluções.
          </p>

          <button type="button" class="custom-btn custom-border-btn btn">
            Conheça nossos produtos
          </button>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="cta-section section-padding section-bg">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-sm-10 ms-auto">
        <h3 class="mb-0" style="color: var(--tertiary-color)">Transformamos tecnologia em soluções que
          fazem a diferença.</h3>
      </div>
    </div>
  </div>
</section>
