<section class="testimonial-section section-padding section-bg">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12 mx-auto">
                <h3 class="mb-lg-3" style="color:var(--tertiary-color)">Aprimore seu aprendizado</h3>

                <a href="cursos.html" class="custom-btn btn">Conheça nossos cursos</a>
            </div>
        </div>
    </div>
</section>

<footer class="site-footer">
    <div class="container">
        <div class="d-flex justify-content-between">
            <p class="text-white mt-3">
                <i class="fa-solid fa-location-dot me-1 p-1"></i>
                Av. da Inovação, 834, Edifício Inova Center, Sala 405, Centro, Campinas, SP, CEP: 11485-544, Brasil.
            </p>

            <p class="text-white d-flex mt-3 ms-3">
                <i class="fa-solid fa-phone me-1 p-1"></i>
                <a href="tel:+551130228745" class="text-white mt-0">
                    (11) 3022-8745 | (11) 99842-4541
                </a>
            </p>
        </div> 
    </div>


    <div class="site-footer-bottom">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-7 col-12">
                    <p class="copyright-text m-auto">Copyright © 2022 - InovaHub</p>
                </div>

                <div class="col-lg-6 col-md-5 col-12 d-flex justify-content-end align-items-center mx-auto">
                    <ul class="social-icon">
                        <li class="social-icon-item">
                            <a href="#" class=" social-icon-link"><i class="fa-brands fa-facebook"></i></a>
                        </li>

                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link"><i class="fa-brands fa-instagram"></i></a>
                        </li>

                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link"><i class="fa-brands fa-linkedin"></i></a>
                        </li>

                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link"><i class="fa-brands fa-youtube"></i></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</footer>