<section class="section-bg" id="section_2"> 
    <div class="container">
        <div class="row">

            <div class="mb-2" style="--bs-breadcrumb-divider: '>';">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/homepage']"> Início</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/sobre-nos']"> Sobre Nós</a></li> 
                </ol>
            </div>

            <div>
                <img src="assets/images/pedagogico.png" class="custom-text-box-image img-fluid" alt="">
            </div>

            <div class="pt-5">
                <div class="custom-text-box">
                    <!--  
                            <h4 class="mb-2">Instituto Municipal de Adminstração Pública</h4>
                        <br>
                        <h4 class="mb-3">Nossa história</h4>
                        -->

                    <p class="mb-0">
                        <b>Na InovaHub,</b> acreditamos que a tecnologia é a chave para desbloquear o potencial de
                        empresas e
                        pessoas. Com uma trajetória focada em inovação e excelência, somos uma empresa que vai além de
                        fornecer soluções tecnológicas: transformamos desafios complexos em oportunidades reais para o
                        seu crescimento.

                        <br><br>

                        Somos especialistas em criar sistemas inteligentes que otimizam processos, aumentam a eficiência
                        e entregam resultados concretos. Nosso portfólio de soluções é pensado para atender às
                        necessidades específicas do seu negócio, com ferramentas que simplificam a gestão, aprimoram o
                        atendimento ao cliente e promovem uma verdadeira transformação digital. Trabalhamos para que sua
                        empresa não apenas acompanhe as tendências, mas lidere a mudança em seu setor.

                        <br><br>

                        <b>O Que Nos Move?</b>
                        <br>
                        Nosso propósito é claro: inovar continuamente para ajudar nossos clientes a prosperar. A cada
                        projeto, buscamos entender profundamente os desafios enfrentados e criar soluções personalizadas
                        que se adaptem às particularidades de cada negócio. Seja desenvolvendo plataformas de automação,
                        sistemas de gestão de dados, ou ferramentas de atendimento ao cliente, nossa missão é
                        proporcionar uma experiência tecnológica que faça a diferença no seu dia a dia.

                        <br><br>

                        <b>Tecnologia de Ponta para Resultados Reais</b>
                        <br>
                        Na InovaHub, trabalhamos com o que há de mais avançado em tecnologia, integrando inteligência
                        artificial, automação e análise de dados para entregar soluções que não apenas resolvem
                        problemas, mas geram valor contínuo.

                        <br><br>

                        <b>Oferecemos:</b>
                        <br>
                        - Sistemas de Gestão Personalizados: Controle total sobre os processos internos da sua empresa,
                        de
                        maneira prática e eficiente.

                        <br>

                        - Automatização de Atendimento ao Cliente: Melhore a experiência dos seus clientes com
                        atendimento
                        ágil e automatizado, sem perder o toque humano.

                        <br>

                        - Análise de Dados Inteligente: Tome decisões estratégicas baseadas em dados reais, com
                        dashboards
                        completos e relatórios detalhados.

                        <br> <br>

                        <b>Compromisso com o Sucesso do Cliente</b>
                        O que nos diferencia é o compromisso genuíno com o sucesso dos nossos clientes. Não oferecemos
                        apenas um produto, mas uma parceria de longo prazo. Nosso time de especialistas está sempre ao
                        seu lado, desde a implementação até o suporte contínuo, garantindo que cada solução funcione
                        exatamente como planejado, e que seus resultados sejam alcançados e superados.

                        <br><br>

                        <b>Impacto Sustentável e Transformador</b>
                        Na InovaHub, também acreditamos no impacto social da tecnologia. Nossas soluções são desenhadas
                        para serem sustentáveis e escaláveis, garantindo que seu negócio possa crescer de forma
                        responsável, com o mínimo impacto ambiental e o máximo de eficiência. Nossa visão de futuro é
                        construir um mundo mais conectado, eficiente e sustentável, onde a tecnologia seja uma força
                        positiva em todos os setores.

                        <br><br>

                        <b>Por Que Escolher a InovaHub?</b>
                        Escolher a InovaHub é escolher uma empresa que está comprometida em transformar o seu negócio.
                        Com uma equipe altamente capacitada, metodologia ágil e tecnologia de ponta, estamos prontos
                        para enfrentar qualquer desafio ao seu lado. Nossa experiência e paixão pela inovação nos tornam
                        o parceiro ideal para empresas que buscam não apenas soluções, mas verdadeiros diferenciais
                        competitivos no mercado.

                        <br><br>

                        <b>InovaHub é mais do que uma empresa de tecnologia — somos a conexão entre o seu negócio e o
                            futuro.</b>

                        <br> <br>

                        <a href="..."><b>Clique aqui</b></a> e conheça o nosso Código de Ética e Conduta.
                        <br>
                        <a href="..."><b>Clique aqui</b></a> e conheça a LGPD.
                    </p>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-4 col-12">
                        <div class="custom-box mb-lg-0">
                            <h4 class="mb-3"><i class="fa-solid fa-flag"></i> Missão </h4>
                            <p>
                                Desenvolver soluções tecnológicas inovadoras que otimizem processos, gerem resultados
                                eficientes e promovam a transformação digital dos nossos clientes.
                            </p>
                        </div>
                    </div>


                    <div class="col-sm-6 col-md-6 col-lg-4 col-12">
                        <div class="custom-box mb-lg-0">
                            <h4 class="mb-3"><i class="fa-solid fa-eye"></i> Visão</h4>
                            <p>
                                Ser referência no mercado de tecnologia, liderando a inovação e proporcionando impacto
                                positivo e sustentável para empresas e pessoas.
                            </p>
                        </div>
                    </div>


                    <div class="col-sm-6 col-md-6 col-lg-4 col-12">
                        <div class="custom-box mb-lg-0">
                            <h4 class="mb-3"><i class="fa-solid fa-people-roof"></i> Valores</h4>
                            <p>
                                Inovação,
                                Ética,
                                Responsabilidade,
                                Excelência,
                                Foco no Cliente.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <br> <br> <br> <br>
    <section class="volunteer-section section-padding pt-5" id="section_4">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12">
                    <h2 class="text-white mb-4">Trabalhe conosco</h2>

                    <form class="custom-form volunteer-form mb-5 mb-lg-0" action="#" method="post" role="form">
                        <h6 class="mb-4">Envie seu currículo</h6>

                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <input type="text" name="volunteer-name" id="volunteer-name" class="form-control"
                                    placeholder="Nome" required>
                            </div>

                            <div class="col-lg-6 col-12">
                                <input type="email" name="volunteer-email" id="volunteer-email" pattern="[^ @]*@[^ @]*"
                                    class="form-control" placeholder="E-mail" required>
                            </div>

                            <div class="col-lg-6 col-12">
                                <input type="text" name="volunteer-subject" id="volunteer-subject" class="form-control"
                                    placeholder="Assunto" required>
                            </div>

                            <div class="col-lg-6 col-12">
                                <div class="input-group input-group-file">
                                    <input type="file" class="form-control" id="inputGroupFile02">

                                    <label class="input-group-text" for="inputGroupFile02">Upload do
                                        currículo</label>

                                    <i class="bi-cloud-arrow-up ms-auto"></i>
                                </div>
                            </div>
                        </div>

                        <textarea name="volunteer-message" rows="3" class="form-control" id="volunteer-message"
                            placeholder="Comentário"></textarea>

                        <button type="submit" class="form-control">Enviar</button>
                    </form>
                </div>

                <div class="col-lg-6 col-12">
                    <img src="assets/images/vaga-emprego.jpg" class="volunteer-image img-fluid" alt="">

                    <div class="custom-block-body text-center">
                        <h4 class="text-white mt-lg-3 mb-lg-3">#VEMPRAINOVA</h4>

                        <p class="text-white">Está em busca de um novo desafio? <br>
                            Envie seu currículo para nós! <br>
                            Siga-nos nas redes sociais para ficar por dentro de todas as oportunidades para
                            fazer parte do nosso time.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>