<section class="section-bg" id="section_2">
    <div class="container">
        <div class="row">

            <div class="mb-3" style="--bs-breadcrumb-divider: '>';">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/homepage']"> Início</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/consultoria']">Consultoria</a></li>
                </ol>
            </div>

            <div>
                <h3 class="mb-2">Consultoria</h3>
                <br>
                <img src="assets/images/consultoria.png" class="custom-text-box-image img-fluid" alt="">
            </div>

            <div class="pt-5">
                <div class="custom-text-box">
                    <p class="mb-0">
                        Na InovaHub, oferecemos consultoria especializada para ajudar empresas a identificar
                        oportunidades de crescimento e inovação através da tecnologia. Nosso foco é oferecer soluções
                        personalizadas que resolvam desafios específicos, otimizem processos e melhorem a eficiência
                        operacional.

                        <Br><br>

                        Nossa equipe de especialistas trabalha lado a lado com sua empresa, entendendo suas necessidades
                        e desenhando estratégias tecnológicas sob medida. Analisamos seus processos, identificamos
                        gargalos e sugerimos as melhores ferramentas e práticas para aumentar a competitividade do seu
                        negócio.

                        <Br><br>

                        Seja na transformação digital, na automação de processos ou na implementação de sistemas
                        inteligentes, nossa consultoria oferece um acompanhamento completo, desde a análise inicial até
                        a execução e suporte contínuo. Com a InovaHub, você tem uma parceira confiável para garantir que
                        a inovação esteja no centro da sua estratégia de crescimento.

                        <Br><br>

                        <b>InovaHub Consultoria – Mais do que aconselhamento, resultados reais.</b>
                    </p>
                </div>
            </div>
            <br>

            <section class="section-consultoria" id="section_3">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 col-12 text-center mb-4">
                            <h4 class="text-white">Consultorias Disponíveis</h4>
                        </div>

                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                            <div class="custom-block-wrap">
                                <img src="assets/images/Consultoria de Transformação Digital.jpg" class="consultoria-imagem img-fluid"
                                    alt="consultoria tributaria">
                                <div class="custom-block">
                                    <div class="consultoria-box-body">
                                        <h6 class="mb-3">Consultoria de Transformação Digital</h6>
                                        <p>
                                            Ajudamos empresas a repensar seus processos e estratégias, integrando
                                            tecnologias digitais para aumentar a eficiência, melhorar a experiência do
                                            cliente e gerar novas oportunidades de negócios.
                                        </p>
                                    </div>

                                    <button type="button" class="custom-btn btn">Agende sua consultoria</button>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                            <div class="custom-block-wrap">
                                <img src="assets/images/Consultoria em Gestão de Dados e BI.jpg" class="consultoria-imagem img-fluid"
                                    alt="consultoria pedagógica">
                                <div class="custom-block">
                                    <div class="consultoria-box-body">
                                        <h6 class="mb-3">Consultoria em Gestão de Dados e BI (Business Intelligence)
                                        </h6>
                                        <p>
                                            Oferecemos soluções para melhorar a coleta, análise e uso de dados,
                                            permitindo que as empresas tomem decisões mais informadas e baseadas em
                                            dados, através de dashboards e relatórios inteligentes.
                                        </p>
                                    </div>
                                    <button type="button" class="custom-btn btn">Agende sua consultoria</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                            <div class="custom-block-wrap">
                                <img src="assets/images/Consultoria em Segurança da Informação.jpg" class="consultoria-imagem img-fluid"
                                    alt="consultoria pedagógica">
                                <div class="custom-block">
                                    <div class="consultoria-box-body">
                                        <h6 class="mb-3">Consultoria em Segurança da Informação</h6>
                                        <p>
                                            Garantimos que sua empresa esteja protegida contra ameaças digitais com
                                            práticas de cibersegurança robustas, incluindo auditorias de segurança,
                                            avaliação de vulnerabilidades e implementação de políticas de segurança da
                                            informação.
                                        </p>
                                    </div>
                                    <button type="button" class="custom-btn btn">Agende sua consultoria</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>