<app-banner></app-banner>
<app-apresentacao-homepage></app-apresentacao-homepage>

<section class="section-padding" id="section_3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12 text-center mb-4">
                <h2>Sistemas</h2>
            </div>

            <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                <div class="custom-block-wrap">
                    <img src="assets/images/analise-dados.jpg" class="custom-block-image img-fluid"
                        alt="Sistema de Gestão de Dados e Análises">
                    <div class="custom-block">
                        <div class="custom-block-body">
                            <h5 class="mb-2">Sistema de Gestão de Dados e Análises</h5>
                            <p>
                                Uma solução para coletar, armazenar e analisar grandes volumes de dados. Inclui
                                dashboards personalizáveis, ferramentas de visualização de dados e relatórios
                                automatizados.
                            </p>
                        </div>
                        <a href="sgda.html" class="custom-btn btn">Agende uma apresentação</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                <div class="custom-block-wrap">
                    <img src="assets/images/gestao-projetos.jpg" class="custom-block-image img-fluid"
                        alt="Sistema de Gestão de Projetos">

                    <div class="custom-block">
                        <div class="custom-block-body">
                            <h5 class="mb-2">Sistema de Gestão de Projetos</h5>
                            <p>Um software completo para planejamento, execução e monitoramento de projetos.
                                Permite colaboração em tempo real, gestão de tarefas, cronogramas, alocação de
                                recursos e relatórios de desempenho.
                            </p>
                        </div>
                        <a href="sgp.html" class="custom-btn btn">Agende uma apresentação</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <div class="custom-block-wrap">
                    <img src="assets/images/atendimento-cliente.jpg" class="custom-block-image img-fluid"
                        alt="Plataforma de Atendimento ao Cliente">

                    <div class="custom-block">
                        <div class="custom-block-body">
                            <h5 class="mb-2">Plataforma de Atendimento ao Cliente</h5>
                            <p>
                                Um sistema integrado que centraliza o atendimento ao cliente, incluindo
                                chatbots, suporte via e-mail e gerenciamento de tickets. Oferece relatórios
                                analíticos para melhorar a experiência do usuário.
                            </p>
                        </div>
                        <a href="pac.html" class="custom-btn btn">Agende uma apresentação</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<br><br>

<section class="news-section bg-white" id="section_5">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12 mb-5">
                <h2 style="color: var(--primary-color)">Blog</h2>
            </div>

            <div class="col-lg-7 col-12">
                <div class="news-block">
                    <div class="news-block-top">
                        <a href="news-detail.html">
                            <img src="assets/images/workshop.png" class="news-image img-fluid" alt="">
                        </a>
                    </div>

                    <div class="news-block-info">
                        <div class="d-flex mt-2">
                            <div class="news-block-date">
                                <p>
                                    <i class="fa-regular fa-calendar custom-icon me-0 pt-2"></i>
                                    17 de Novembro de 2023
                                </p>
                            </div>
                        </div>

                        <div class="news-block-title mb-2">
                            <h4><a href="#" class="news-block-title-link">InovaHub Realiza Workshop de Inovação
                                    para Clientes</a></h4>
                        </div>

                        <div class="news-block-body">
                            <p> A InovaHub promoveu um workshop exclusivo sobre inovação e tecnologia para seus
                                clientes. O evento reuniu especialistas da indústria e ofereceu sessões
                                interativas sobre como maximizar o uso das ferramentas da InovaHub.
                            </p>
                            <button type="button" class="custom-btn btn">Ler matéria completa</button>
                        </div>
                    </div>
                </div>
                <br>
                <div class="news-block mt-3">
                    <div class="news-block-top">
                        <a href="news-detail.html">
                            <img src="assets/images/investimento.png" class="news-image img-fluid" alt="">
                        </a>
                    </div>

                    <div class="news-block-info">
                        <div class="d-flex mt-2">
                            <div class="news-block-date">
                                <p>
                                    <i class="fa-regular fa-calendar custom-icon me-0 pt-2"></i>
                                    08 de Novembro de 2024.
                                </p>
                            </div>
                        </div>

                        <div class="news-block-title mb-2">
                            <h4><a href="news-detail.html" class="news-block-title-link">Investimento em
                                    Pesquisa e Desenvolvimento</a>
                            </h4>
                        </div>

                        <div class="news-block-body">
                            <p>A InovaHub destinou um novo investimento significativo em pesquisa e
                                desenvolvimento para explorar tecnologias emergentes, como inteligência
                                artificial e machine learning. A empresa acredita que essas tecnologias podem
                                transformar seus produtos e oferecer ainda mais valor aos clientes. "A inovação
                                está no nosso DNA, e estamos ansiosos para explorar novas fronteiras", declarou
                                o CEO.
                            </p>
                            <button type="button" class="custom-btn btn">Ler matéria completa</button>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <div class="col-lg-4 col-12 mx-auto">
                <form class="custom-form search-form" action="#" method="post" role="form">
                    <input class="form-control" type="search" placeholder="Buscar" aria-label="Search">

                    <button type="submit" class="form-control">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>

                <h4 class="mt-5 mb-3" style="color:var(--tertiary-color)">Recentes</h4>

                <div class="news-block news-block-two-col d-flex mt-4">
                    <div class="news-block-two-col-image-wrap">
                        <a href="news-detail.html">
                            <img src="assets/images/sustentabilidade.jpg" class="news-image  img-noticia-recente"
                                alt="">
                        </a>
                    </div>

                    <div class="news-block-two-col-info">
                        <div class="news-block-title mb-2">
                            <h6><a href="#" class="news-block-title-link">Novos sistemas especializados</a>
                            </h6>
                        </div>

                        <div class="news-block-date">
                            <p>
                                <i class="fa-regular fa-calendar custom-icon me-0 pt-2"></i>
                                17 de Outubro de 2024
                            </p>
                        </div>
                    </div>
                </div>

                <div class="news-block news-block-two-col d-flex mt-4">
                    <div class="news-block-two-col-image-wrap">
                        <a href="#">
                            <img src="assets/images/reconhecimento.jpg" class="news-image img-noticia-recente" alt="">
                        </a>
                    </div>

                    <div class="news-block-two-col-info">
                        <div class="news-block-title mb-2">
                            <h6><a href="#" class="news-block-title-link">Inovação</a>
                            </h6>
                        </div>

                        <div class="news-block-date">
                            <p>
                                <i class="fa-regular fa-calendar custom-icon me-0 pt-2"></i>
                                06 de Outubro de 2024
                            </p>
                        </div>
                    </div>
                </div>

                <div class="news-block news-block-two-col d-flex mt-4">
                    <div class="news-block-two-col-image-wrap">
                        <a href="news-detail.html">
                            <img src="assets/images/lancamento-sistema.jpg" class="news-image img-noticia-recente"
                                alt="">
                        </a>
                    </div>

                    <div class="news-block-two-col-info">
                        <div class="news-block-title mb-2">
                            <h6><a href="#" class="news-block-title-link">Lançamento de Novo Sistema de
                                    Gestão</a>
                            </h6>
                        </div>

                        <div class="news-block-date">
                            <p>
                                <i class="fa-regular fa-calendar custom-icon me-0 pt-2"></i>
                                02 de Setembro de 2024
                            </p>
                        </div>
                    </div>
                </div>

                <form class="custom-form subscribe-form" action="#" method="post" role="form">
                    <h4 class="mb-4" style="color: var(--tertiary-color)">Receba nossa Newsletter</h4>

                    <input type="email" name="subscribe-email" id="subscribe-email" pattern="[^ @]*@[^ @]*"
                        class="form-control" placeholder="E-mail" required>

                    <div class="col-lg-12 col-12">
                        <button type="submit" class="form-control"
                            style="background-color: #604F9E;">Increva-se</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>